<div id="analysis-results" class="mt-8 bg-green-100 border-l-4 border-green-500 text-green-700 p-4 rounded-lg"
    role="alert" hx-trigger="analysisComplete from body" hx-swap="delete">
    <p class="font-bold">Análisis en curso</p>
    <p>{{.Message}}</p>
</div>

<div hx-get="/subcommits-timeline?repo_id={{.RepoID}}" hx-trigger="load, every 10s" hx-swap="outerHTML"
    class="subcommits-container p-4 bg-gray-50 rounded-lg text-center text-gray-600 mt-4">
    <p class="font-medium">Cargando línea de tiempo para Repo ID: <span
            class="font-mono text-sm text-indigo-600">{{.RepoID}}</span></p>
    <p>Esperando resultados del análisis...</p>
    <svg class="animate-spin h-5 w-5 text-indigo-500 mx-auto mt-2" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24">
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
        </path>
    </svg>
</div>